.main {
	margin-top: .1rem;
	font-size: .18rem;
}

input {
	background-color: #DDDDDD;
	width: 100%;
	margin-bottom: 0 !important;
	font-size: .18rem;
	height: .5rem !important;
	width: 3rem !important;
	border: 0 !important;
	text-align: right;
	padding: 0 !important;
}

input::-webkit-input-placeholder {
	color: #DDDDDD;
	text-align: right;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #DDDDDD;
	text-align: right;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #DDDDDD;
	text-align: right;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #DDDDDD;
	text-align: right;
}
.mui-collapse.mui-active{
	background-color: #FFFFFF !important;
}
.mui-navigate-right{
	margin-bottom: .15rem !important;
	border-bottom: 1px solid #DDDDDD;
}
.mui-table-view-cell{
	margin-bottom: .15rem;
}
.mui-table-view{
	background-color: #EFEFF4 !important; 
}
.deline{
	padding: .15rem 0;
}
textarea{
	font-size: .18rem;
	margin-top: .15rem;
}