.main {
	padding: .05rem .2rem;
	margin-top: .1rem;
	font-size: .18rem;
}

input {
	background-color: #DDDDDD;
	width: 100%;
	margin-bottom: 0 !important;
	font-size: .18rem;
	height: .5rem !important;
	width: 3rem !important;
	border: 0 !important;
	text-align: right;
	padding: 0 !important;
}

input::-webkit-input-placeholder {
	color: #DDDDDD;
	text-align: right;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #DDDDDD;
	text-align: right;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #DDDDDD;
	text-align: right;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #DDDDDD;
	text-align: right;
}

.line {
	margin: .15rem 0;
}

.mui-switch-mini {
	width: .5rem;
	position: relative;
	left: -.3rem;
}

.mui-switch {
	height: .3rem;
}

.mui-switch .mui-switch-handle {
	width: .25rem;
	height: .25rem;
}

.mui-switch-mini.mui-active .mui-switch-handle {
	transform: translate(12px, 0);
}

.desc {
	font-size: .25rem;
	padding: 0 0 .2rem 0;
}

.main .mui-btn {
	border: 0 !important;
	width: 100%;
	color: #FFFFFF;
	background-color: #FF8C00;
	margin: .1rem 0;
	height: .65rem;
}

.card {
	background-color: #DDDDDD;
	border-radius: .05rem;
	padding: .1rem;
}
textarea{
	font-size: .2rem !important;
}
.sign{
	width: 100%;
}