.main {
	margin-top: 2.3rem;
	font-size: .18rem;
}

.mui-backdrop {
	position: fixed;
	top: 2.3rem;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
	background-color: rgba(0, 0, 0, .3);
}

.list .item {
	padding: .2rem;
	margin-bottom: .15rem;
}

.split {
	padding: 0 .25rem .05rem .25rem;
	font-size: .22rem;
}

.popover {
	position: fixed;
	top: 2.3rem;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	height: 3rem;
	background-color: #FFFFFF;
	width: 100%;
	transform-origin: 50% 0;
	-webkit-animation: slide-down .5s ease-in;
	transition: max-height .2s ease-out;
}

@-webkit-keyframes slide-down {
	0% {
		transform: scale(1, 0);
	}

	25% {
		transform: scale(1, 1.2);
	}

	50% {
		transform: scale(1, 0.85);
	}

	75% {
		transform: scale(1, 1.05);
	}

	100% {
		transform: scale(1, 1);
	}
}

.content {
	width: 1.2rem;
	position: relative;
}

.content .select:after {
	content: '';
	display: block;
	width: .1rem;
	height: .1rem;
	border-left: 1px #000 solid;
	border-bottom: 1px #000 solid;
	position: absolute;
	top: .06rem;
	right: .4rem;
	transform: rotate(-45deg);
	transition: transfrom .3s ease-in, top .3s ease-out;
}

.content .select.open:after {
	transform: rotate(-225deg);
	top: .1rem;
	transition: all .1s ease-in;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.bottom div {
	width: 50%;
	border: 0;
	background-color: #DDDDDD;
	border-radius: 0;
	color: #FFFFFF;
	height: .65rem;
}

.popover .line {
	padding: .1rem .25rem !important;
}

.popover .confirm {
	background-color: #CF2D28;
}

.popover button {
	background-color: #DDDDDD !important;
	width: 1.5rem;
	margin-left: 0 !important;
}
