<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/lib/pull-top-tips.css"/>
		<link rel="stylesheet" type="text/css" href="css/home-scene.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">现场检测</h1>
		</header>
		<div class="mui-content">			
			<div id="slider" class="mui-slider  mui-fullscreen">
				<div class="search">
					<div class="line base-flex-horizontal">
						<input type="text" placeholder="请输入委托单号" v-model="postInfo.SqlSearch">						
						<button class="mui-btn"  @tap="searchEvent()">搜索</button>					
					</div>
				</div>
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a v-for="(item,index) in swipeList" :class="['mui-control-item',activeIndex==index ? 'mui-active':'']" :href="['#'+item.linkhref]">
						{{item.title}}
					</a>
				</div>
				<div class="mui-slider-group">
					<div v-for="(item,index) in swipeList" :id="[item.linkhref]" :class="['mui-slider-item mui-control-content',activeIndex==index? 'mui-active':'']">
						<div class="mui-scroll-wrapper">
							<div :id="item.id" class="mui-scroll">
								<ul class="mui-table-view mui-clearfix">
									<li v-for="(item,index) in item.datalist" class="mui-table-view-cell base-border-bottom" @tap="busItemClick(item.BizID)">
										<div class="line base-flex-between">
											<div class="base-flex-horizontal">
												<div class="desc">客户单位:</div>
												<div>{{item.CustomerName}}</div>
											</div>
                                            <div class="status">{{item.MobileSubmitName}}</div>
										</div>
										<div class="line base-flex-between">
											<div class="base-flex-horizontal">
												<div class="desc">委托单号:</div>
												<div>{{item.EntrustNo}}</div>
											</div>

										</div>
										<div class="line base-flex-between">
											
											<div class="base-flex-horizontal">
												<div class="desc">检测编号:</div>
												<div>{{item.ReportNo}}</div>
											</div>
										</div>
										<div class="line base-flex-between">
											<div class="base-flex-horizontal">
												<div class="desc">样品总称:</div>
												<div>{{item.SampleName}}</div>
											</div>
											<div class="base-flex-horizontal">
												<div>{{item.AcceptDate}}</div>
											</div>
										</div>
									</li>									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../../js/mui.js"></script>
		<script src="../../js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../config.js" type="text/javascript"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/browser.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../api/home/home.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/babel" charset="utf-8">
			webtool.backQuit();
			mui.init();
			var tool={
				//获取现场检测业务列表
				getBizQuery:function(postInfo){
					home.getBizQuery(vm.postInfo,function(data){	
						if(data.biz_Main){
							vm.swipeList[vm.activeIndex].datalist=data.biz_Main;	
						}else{
							mui.toast('没有相关数据');
						}
																	
					})
				}
			}
			var vm=new Vue({
				el:"#slider",
				data:{
					searchWords:"",
					activeIndex:0,
					postInfo:{
						PageIndex:0,//当前页面数
						PageSize:10,//分页条数
						SqlSearch:"",//检索条件
						MobileSubmit:""
					},
					swipeList:[
						{ id:1,title:"全部",linkhref:"item1mobile1",datalist:[] },
						{ id:2,title:"未提交",linkhref:"item2mobile",datalist:[] },
						{ id:3,title:"已提交",linkhref:"item3mobile",datalist:[] },
					],
				},
				methods:{
					searchEvent:function(){
						tool.getBizQuery();
					},
					busItemClick:function(BizID){
						webtool.openWindow('home-scene-split',{ data: BizID });
					}
				}
			})
			vm.$nextTick(function(){
				mui('.mui-scroll-wrapper').scroll();				
				mui("#slider").slider();		
			});
			//上下拉初始事件
			mui.each(document.querySelectorAll('.mui-scroll'),function(index,item){
				mui(item).pullToRefresh({
					up:{
						callback:function(){
							var pullObj=this;
							vm.postInfo.PageIndex++;
     						home.getBizQuery(vm.postInfo,function(data){
								if(data.biz_Main){
									vm.swipeList[vm.activeIndex].datalist=vm.swipeList[vm.activeIndex].datalist.concat(data.biz_Main);
									data.biz_Main.length<10 ? pullObj.endPullUpToRefresh(true) :  pullObj.endPullUpToRefresh(false);
								}else{
									pullObj.endPullUpToRefresh(true)
								}																									
							})
							
						}
					},
					down:{
						callback:function(){
							var pullObj=this;
							vm.postInfo.PageIndex=1;
							home.getBizQuery(vm.postInfo,function(data){
								if(data.biz_Main){
									vm.swipeList[vm.activeIndex].datalist=data.biz_Main;	
									pullObj.endPullDownToRefresh(true);
									pullObj.refresh();
									pullObj.endPullUpToRefresh(false);	
								}else{
									pullObj.endPullDownToRefresh(true);
								}																							
							})				
						}
					}
				})
			});
			//监听左右滑动事件
			mui('.mui-slider')[0].addEventListener('slide',function(e){
				let index=event.detail.slideNumber;
				postInfo.SqlSearch="";
					vm.activeIndex=index;
					if(index==0){
						vm.postInfo.MobileSubmit="";
					}else if(index==1){
						vm.postInfo.MobileSubmit=0;
					}else{
						vm.postInfo.MobileSubmit=1;
					}
				var pullRefreshView = mui('.mui-scroll')[index];				
					mui(pullRefreshView).pullToRefresh().pullDownLoading();		          
			});
			apptools.iosBlur();
			//获取第一组数据
			tool.getBizQuery();
		</script>
	</body>

</html>