<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/lib/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="css/home-scene-write.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">采样项目</h1>
				<button class="mui-btn" @tap="addItemClick()">添加项目</button>
			</header>
			<div>
				<div class="mui-scroll-wrapper base-content">
					<div class="mui-scroll">
						<div class="main base-bg-white">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-collapse" v-for="(item,index) in postInfo" v-if="item.SampleItemID !== null">
									<a class="mui-navigate-right" href="#">{{item.ItemName}} ( {{item.Method}} )</a>
									<div class="base-flex-between base-border-bottom">
										<div></div>
										<button class="mui-btn mui-btn-danger">删除</button>
									</div>
									<div class="mui-collapse-content">
										<div class="type" v-for="(item2,index2) in item.biz_SampleItemRecordList.biz_SampleItemRecord">
											<div class="line base-flex-center">
												{{item2.Type==0 ? '室内样品项目' : '室外样品项目'}}
											</div>
											<div class="line base-flex-between">
												<div>采样流量</div>
												<input type="text" name="" id="" placeholder="请输入采样流量" v-model="item2.SamFlow"/>
											</div>
											<div class="line base-flex-between">
												<div>采样体积</div>
												<input type="text" name="" id="" placeholder="请输入采样体积" v-model="item2.SamVolume"/>
											</div>
											<!-- 分光光度法-氨、甲醛  -->
											<div v-if="item.ItemName=='氨' || item.ItemName=='甲醛'">
												<div class="line base-flex-between">
													<div>样品溶液的吸光度A</div>
													<input type="text" name="" id="" placeholder="请输入样品溶液的吸光度A" v-model="item2.AbsSamSolution"/>
												</div>
												<div class="line base-flex-between">
													<div>空白溶液的吸光度A₀</div>
													<input type="text" name="" id="" placeholder="请输入空白溶液的吸光度A₀" v-model="item2.AbsBlaSolution"/>
												</div>
												<div class="line base-flex-between">
													<div>稀释因子f</div>
													<input type="text" name="" id="" placeholder="请输入稀释因子f" v-model="item2.DilFactor"/>
												</div>
												<div class="line base-flex-between">
													<div>计算因子B</div>
													<input type="text" name="" id="" placeholder="请输入计算因子B" v-if="item2.CalFactor"/>
												</div>
											</div>
											<!-- 氡 -->
											<div v-else-if="item.ItemName=='氡'">
												<div class="line base-flex-between">
													<div>氡浓度</div>
													<input type="text" name="" id="" placeholder="请输入氡浓度" v-model="item2.Concentration"/>
												</div>
											</div>
											<!-- 甲醛 气象色谱-苯、TVOC、甲苯、二甲苯 -->
											<div v-else>
												<div class="line base-flex-between">
													<div>测得值</div>
													<input type="text" name="" id="" placeholder="请输入测得值" v-model="item2.MeasuredValue"/>
												</div>
											</div>
										</div>										
									</div>								   
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.js"></script>
		<script src="../../js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/browser.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/babel" charset="UTF-8">
			mui.init();	
			mui.plusReady(function(){
				var wb=plus.webview.currentWebview();
				vm.postInfo=wb.data;
			})
			var vm=new Vue({
				el:"#app",
				data:{
                    type:"",
					postInfo:{},
				},				
				methods:{
					addItemClick:function(){
						
					}
				},
				computed:{
					
				}
			});
			vm.$nextTick(function(){				
               	mui('.mui-scroll-wrapper').scroll();	
				
			})
			
			apptools.iosBlur();				
			webtool.backQuit();
		</script>
	</body>

</html>
